<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
        <input type="date" class="form-control" id="inputPassword">
    </div>
  </div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Account</label>
    <div class="col-sm-10">
    <select class="form-select" aria-label="Default select example"> 
        <option selected>Select</option>
        <option value="1">HDFC</option>
        <option value="2">DBS</option>
        <option value="3">CANARA</option>
      </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">
    <select class="form-select" aria-label="Default select example"> 
        <option selected>Select</option>
        <option value="1">Household</option>
        <option value="2">Transportation</option>
        <option value="3">Food</option>
      </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Note</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Amount</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputPassword">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Upload </label>
    <div class="col-sm-10">
        <div class="input-group fa-blue mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
           
          </div>
    </div>
  </div>
<button class="btn btn-submit fa-blue rounded-pill">Add</button>
<button class="btn  btn-cancel rounded-pill"  data-bs-dismiss="modal" >Cancel</button>
