<div class="card">
    <div class="card-header">
        <strong> 17/09/2021</strong>
    </div>
    <div class="card-body">
        
        <table class="table table-hover">

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Petrol</td>
                <td>Transportation
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>220</td>
                <td class="fa-red">Paid</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Development</td>
                <td>Groww
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>5000</td>
                <td class="fa-red">Paid</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Household</td>
                <td>Lightbill
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>120</td>
                <td class="fa-green">Income</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
        <strong> 17/09/2021</strong>
    </div>
    <div class="card-body">
        
        <table class="table table-hover">

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Petrol</td>
                <td>Transportation
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>220</td>
                <td class="fa-red">Paid</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Development</td>
                <td>Groww
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>5000</td>
                <td class="fa-red">Paid</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Household</td>
                <td>Lightbill
                    <small class="text-muted bank-name">HDFC</small>
                </td>
                <td>120</td>
                <td class="fa-green">Income</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>

  

  