
<div class="row">
  <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <div class="card-content">
        <div class="fa-bg-green shadow-sm rounded-3">
        <div class="card-body">
          <div class="media d-flex">
            <div class="align-self-center dwb-icon">
                <i class="fa fa-3x fa-briefcase"></i>
            </div>
            <div class="media-body text-right">
              <h3>2k</h3>
              <span>Deposit</span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12"> 
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-content">
        <div class="fa-bg-red shadow-sm rounded-3">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center dwb-icon">
                  <i class="fa fa-3x fa-briefcase"></i>
              </div>
              <div class="media-body text-right">
                <h3>1500</h3>
                <span>Withdraw</span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>

  <div class="col-xl-3 col-sm-6 col-12"> 
      <div class="card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-content">
            <div class="fa-bg-blue shadow-sm rounded-3">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center dwb-icon">
                  <i class="fa fa-3x fa-briefcase"></i>
              </div>
              <div class="media-body text-right">
                <h3>21k</h3>
                <span>Balance</span>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  
